
/* 
.popup .foto-laptop {
    border-radius: 9px;
    box-shadow: var(--box-shadow-3);
} */

.insights .laptop {
    padding-left: 50px;
    margin-left: 35px;
}

.btn-back {
    margin-bottom: 10px;
    color: var(--color-dark);
    background: var(--color-light);
    border-radius: 50px;
    width: 110px;
}

.btn-back .btn{
    padding-top: 10px;
}

.btn-back button span {
    width: 30px;
}

.date {
    display: flex;
}

main .insights .progress {
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

main .insights svg {
    width: 7rem;
    height: 7rem;
}

main .insights .progress .total {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.btn {
    background: transparent;
    color: var(--color-primary);
    outline: none;
    cursor: pointer;
}
